/* Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;900&family=Sigmar+One&display=swap');

/* Common Styles */
body {
    background-color: #DFF6FF;
    font-family: 'Inter', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    color: #06283D;
}

ul {
    list-style-type: none;
}

/* Navigation Bar */
.pp-btn {
    background: linear-gradient(to right, #47B5FF 0%, #1363DF 51%, #06283D 100%);
    animation: pp-btn-anim 0.15s ease 0s 1 reverse forwards;
    padding: 10px 20px;
    
    font-weight: bold;
}
.pp-btn:hover {
    color: white;
    animation: pp-btn-anim-hover 0.15s ease 0s 1 normal forwards;
}

.nav-link {
    color: #06283D;
    transition: font-weight 0.15s;
}
.nav-link:hover {
    font-weight: bold;
    text-decoration: underline;
}

@keyframes pp-btn-anim {
    0% {
        background: linear-gradient(to right, #47B5FF 0%, #1363DF 51%, #06283D 100%)
    }
    50% {
        background: linear-gradient(to right, #1363DF 0%, #06283D 51%, #1363DF 100%)
    }
    100% {
        background: linear-gradient(to right, #06283D 0%, #1363DF 51%, #47B5FF 100%)
    }
}
@keyframes pp-btn-anim-hover {
    0% {
        background: linear-gradient(to right, #47B5FF 0%, #1363DF 51%, #06283D 100%)
    }
    50% {
        background: linear-gradient(to right, #1363DF 0%, #06283D 51%, #1363DF 100%)
    }
    100% {
        background: linear-gradient(to right, #06283D 0%, #1363DF 51%, #47B5FF 100%)
    }
}

/* Who am I Section */
#who .title {
    color: #1363DF;
}
#who .pfp-img {
    width: 200px;
    text-align:center;
    display:block;
    margin:auto;
}

#who .desc {
    color: #06283D;
}

#who a {
    text-decoration: none;
}
#who a:hover {
    text-decoration: underline;
}

@media screen and (max-width: 600px) {
    #who .pfp-img {
        margin-left: 73px;
    }
}

/* What are my Qualifications */
#what {
    background-color: #06283D;
    color: #DFF6FF;
    height: 375px;
    padding-bottom: 200px;
}

@media screen and (max-width: 600px) {
    #what {
        height: 550px;
    }
    li {
        margin-right: 35px;
    }
}

#what .title {
    color: #DFF6FF;
}

/* Personal Projects */
#personal-projects {
    background-color: #DFF6FF;
}

#personal-projects .title {
    margin-top: 75px;
}

.card-body {
    background-color: #06283D;
    color: #1363DF;
}
.card-body p {
    color: #DFF6FF;
}
.card-body .project-btn {
    background-color: #47B5FF;
    color: #DFF6FF;
    font-weight: bold;
    transition: background-color 0.15s;
}

.card-body .project-btn:hover {
    background-color: #1363DF;
}

/* Footer */
#footer {
    background-color: #06283D;
    color: white;
}